body {
  padding-top: 50px;
}

.body_template {
  padding-left: 15px;
  text-align: left;
}

.indent1 {
    padding-left: 30px;
}

.indent2 {
    padding-left: 60px;
}

.indent3 {
    padding-left: 90px;
}

.anchor {
    display:block;
    padding-top:50px;
    margin-top:-50px;
 }

 span.glyphicon-question-sign {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.top_matter {
    border-bottom: 2px solid #DDD;
    margin-bottom: 10px;
}

.emphasized {
    background-color: #F5F5F5;
    padding: 5px;
    margin: 0px;
}